<div>
  <h1>Vionel</h1>
  <div class="question">
    <h2>{{question.question}}</h2>
    <div class="answer">
      <div class="no" ng-click="no(question.query)">
        <i class="fa fa-thumbs-o-down"></i>
      </div>
      <div class="yes" ng-click="yes(question.query)">
        <i class="fa fa-thumbs-o-up"></i>
      </div>
    </div>
  </div>

  <div class="result">
    <div ng-repeat="movie in result">
      <div class="poster col-md-4 col-sm-4 col-xs-4" title="{{movie.title}}">
        <background class="background" url="{{movie.thumbnailUrl}}"></background>
        <i class="poster-border"></i><a class="poster-action-area"><img src="/images/poster.png"></a>
        <div class="poster-hidden-content">
            <div class="poster-hidden-wrap">
                <div class="poster-hidden-wrap-content">
                    
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
